 @font-face {
   font-family: pixel;
   src: url(../font/Outer\ Space.ttf);
 }

 @font-face {
   font-family: regular;
   src: url(../font/nunito.semibold.ttf);
 }

 @font-face {
   font-family: negrito;
   src: url(../font/nunito.bold.ttf);
 }

 @font-face {
   font-family: blackx;
   src: url(../font/nunito.black.ttf);
 }

 body {
   font-family: regular, sans-serif;
   height: 98vh;
 }

 body {
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
   align-items: center;
 }

 .flex {
   display: flex;
 }

 .flex__around {
   justify-content: space-around;
 }


 .fundo__branco {
   width: 80%;
   background: rgba(244, 244, 244, 0.5);
   border-radius: 10px;
   padding: 10.1vh;
 }

 .logo {
   flex-direction: column;
   align-items: center;
   gap: 8.83vh;
 }

 .logo__mario {
   width: 25em;
   height: 11.48375em;
 }

 .logo__nome {
   font-family: pixel;
   color: blue;
   font-weight: 600;
   font-size: 5.3vh;
 }

 .logo__funcao {
   font-family: pixel;
 }

 .logo__texto {
   font-family: regular, sans-serif;
   font-weight: 700;
   font-size: 4.34vh;
   line-height: 5.97vh;
   text-align: center;

 }

 .logo__btn {
   background: #049CD8;
   border: 3px solid #F4F4F4;
   border-radius: 10px;
   box-sizing: border-box;
   width: 54.34vh;
   height: 14.13vh;
   text-align: center;
   font-weight: 900;
   font-size: 8.69vh;
   line-height: 11.82vh;
   color: #FFFFFF;
   border: none;
   margin-top: 24%;
   font-family: negrito;
   cursor: pointer;
 }


 /* Termina o css da pag. index */

 .placar {
   background-image: url(../img/Pipe.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 112.5vh;
   Width: 100%;
   height: 22%;
   font-family: regular, sans-serif;
   font-weight: 700;
   color: #F4F4F4;
   font-size: 5.43vh;
   line-height: 7.47vh;
   align-items: center;
   margin-top: 1.76vh;
 }

 .placar__texto {
   width: 54%;
 }

 .placar__btn {
   background: #E52521;
   border: 3px solid #F4F4F4;
   border-radius: 10px;
   box-sizing: border-box;
   width: 27.17vh;
   height: 7vh;
   font-family: regular;
   font-weight: 400;
   font-size: 4.89vh;
   line-height: 6.65vh;
   text-align: center;
   color: #FFFFFF;
   margin-left: 36vh;
   cursor: pointer;
 }

 .cartas {
   display: grid;
   grid-template-columns: 44.83vh 44.83vh 44.83vh 44.83vh;
   width: 80%;
   grid-row-gap: 8.69vh;
   margin: 4.89vh auto;
   justify-content: center;
 }

 main img {
   height: 27.17vh;
   width: 27.17vh;
 }

 @media screen and (max-width: 1084px) {

   .logo {
     gap: 7.83vh;
   }

   .logo__nome {
     font-size: 4.3vh;
   }

   .logo__funcao {
     font-size: 1.8vh;
   }
 }

 @media screen and (max-width: 984px) {
   body {
     height: 100vh;
   }

   .fundo__branco {
     padding: 4.1vh;
   }

   .logo {
     gap: 7.3vh;
     width: 50%;
   }

   .logo__mario {
     width: 70%;
     height: 45%;
   }

   .logo__nome {
     font-size: 2.9vh;
   }

   .logo__funcao {
     font-size: 1.3vh;
   }

   .info {
     width: 50%;
     text-align: center;
   }

   .logo__texto {
     font-size: 3vh;
     line-height: 3.9vh;
   }

   .logo__btn {
     width: 100%;
     height: 10.13vh;
     font-size: 6.69vh;
     line-height: 9.82vh;
     margin-top: 23%;
   }
 }

 @media screen and (max-width: 912px) {
   .logo__mario {
     width: 100%;
     height: 38%;
   }

   .logo__nome {
     font-size: 2vh;
   }

   .logo__funcao {
     font-size: 0.93vh;
   }

   .logo__texto {
     font-size: 2vh;
     line-height: 2.9vh;
   }

   .logo__btn {
     width: 99%;
     height: 8.13vh;
     font-size: 4.69vh;
     line-height: 7.82vh;
     margin-top: 38%;
   }
 }